{% extends "base.html" %}

{% block title %}Логин{% endblock %}

{% block content %}
    <h1>Логин</h1>
    {% if forms.errors %}
        <p>
            Имя пользователя или пароль не совпадают.
            Пожалуйста, попробуйте еще раз.
        </p>
    {% else %}
        <p> Пожалуйста используйте следующую форму для входа:</p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <p><input type="submit" value="Войти"></p>
        </form>
        <p>
            <a href="{% url 'password_reset' %}">
                Забыли свой пароль?
            </a>
        </p>
        <p>
            Если у вас нет аккаунта
        <a href="{% url 'register'%}">зарегистрируйтесь</a>.
        </p>
    </div>
    <div class="social">
        <ul>
            <li class="facebook">
                <a href="{% url "social:begin" "facebook" %}">
                    Войдите с помощью Facebook
                </a>
            </li>
            <li class="twitter">
                <a href="{% url "social:begin" "twitter" %}">
                    Войдите с помощью Twitter
                </a>
            </li>
            <li class="google">
                <a href="{% url "social:begin" "google-oauth2" %}">Войдите с помощью Google</a>
            </li>
        </ul>
    </div>
{% endblock %}