{% extends "base.html" %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
    <h1>Сброс вашего пароля</h1>
    {% if validlink %}
        <p>Пожалуйста укажите ваш новый пароль дважды:</p>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Изменить мой пароль"></p>
        </form>
    {% else %}
        <p>Ссылка для сброса пароля недействительна, возможно, 
            потому, что она уже была использована либо устарела. 
            Пожалуйста, запросите <a href="{% url 'password_reset' %}">сброс пароля</a> заново.</p>
    {% endif %}
{% endblock %}